<div class="mt-4">
    <h3>create course</h3>

    <form method="POST" action="/courses/store">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">name</label>
  <input type="text" name='name' class="form-control"  placeholder="name ...">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">description</label>
  <input type="text-area" name='description' class="form-control"  placeholder="description ...">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label">link image</label>
  <input type="text" name='image' class="form-control"  placeholder="link ...">
</div>
<button type="submit" class='btn btn-primary'>Add</button>
    </form>
</div>